<!--  _ _ _ _ navbar_ _ _ _ -->

    <nav id="nav-wrap" class="navbar nav-mine navbar-expand-md navbar-dark bg-dark sticky-top" >
      <div class="container-fluid" >
         <a class="navbar-brand" href="#"> <%= image_tag "LXP-logo-b2.png" %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav">
          <span class="navbar-toggler-icon"></span></button>

              <div class="collapse navbar-collapse" id="mynav" style=" margin-right: 265px;">
              <ul class="navbar-nav nav-mine ml-auto" >
                 <li class="nav-item active" >
                  <%= link_to "HOME", root_path(:anchor => "home"), class:"nav-link smoothscroll mr-3" %>
                  </li>

                  <li class="nav-item" >
                  <%= link_to "WALKING TOURS", root_path(:anchor => "walking-tours"), class:"nav-link smoothscroll mr-3" %>
                  </li>

                  <li class="nav-item" >
                    <%= link_to "FULL SERVICE", root_path(:anchor => "full-service"), class:"nav-link smoothscroll mr-3" %>
                  </li>

                  <li class="nav-item" >
                    <%= link_to "NEWS", root_path(:anchor => "leaks"), class:"nav-link smoothscroll mr-3" %>
                  </li>

                  <li class="nav-item" >
                  <%= link_to "CONTACT US", root_path(:anchor => "contact-us"), class:"nav-link smoothscroll mr-3" %>
                  </li>
              </ul>
        </div>
      </div>
    </nav>
