

<div class="index-tours">
  <div class="tours-title">
    <h1 >WALKING TOURS</h1>
  </div>

     <div class="tours-list">
        <% @tours.each do |tour| %>
         <div class="walking-tours-details ">

          <div class="walking-tours-info">
            <h3> <%= tour.name  %> </h3>
            <p> <%= tour.full_information %> </p>
            <p><b>Duration</b> -<%= tour.duration %> </p>
            <p><b>Meeting Point</b> - <%= tour.meeting_point %> </p>
          </div>
          <div class="tours-pics">
            <% tour.photos.each do |photo| %>
             <%= cl_image_tag photo.key, height: 220, width: 220, crop: :fill, :class => "tours-img" %>
            <% end %>
          </div>


          </div>
            <% if logged_in? %>
              <%= link_to 'Edit', edit_tour_path(tour), :class => "tours-links" %> <%= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        <% end %>
    </div>
        <% if logged_in? %>
    <p class = "editor-new"> <%= link_to 'New Tour', new_tour_path %></p>
     <% end %>

</div>
