<section id="contact-us"  >

    <div id="flash-message">
       <%= render 'shared/flash' %>
    </div>

    <div class="contact-section d-flex justify-content-around">
      <div class="trip_advisor_widgets">
        <%= image_tag "trip_advisor_example.png", :width => 550, :height => 450 %>


      </div>

      <div class="formulaire">
         <%= form_for @contact, url: pages_path, remote: true do |f| %>
            <div class="form-style-6">
              <h1>Contact me!</h1>
              <%= f.text_field  :name, required: true, class: "contact-form-text",placeholder: "Your name" %></br>
              </br>
              <%= f.text_field :email, required: true, class: "contact-form-text-area", placeholder: "Your email" %></br>
              </br>
              <%= f.text_area :message, rows: 8, cols: 80, required: true, class: "contact-form-text-area",
                                placeholder: "Send me a message"%></br>

              <div class= "hidden">
                <%= f.label :nickname %>
                <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
              </div>
                <%= f.submit 'Send Message', class: 'contact-form-button' %>
            </div>
        <% end %>
      </div>

    </div>

</section>



