
    <div id="home">
      <%= render 'banner' %>
      <%= render 'about-us' %>
      <%= render 'walking-tours' %>
      <%= render 'full-service' %>
      <%= render 'leaks' %>
      <%= render 'contact' %>
    </div>
