<p id="notice"><%= notice %></p>

<h1>Leaks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leaks.each do |leak| %>
      <tr>
        <td><%= leak.title %></td>
        <td><%= leak.description %></td>
        <td><%= link_to 'Show', leak %></td>
        <td><%= link_to 'Edit', edit_leak_path(leak) %></td>
        <td><%= link_to 'Destroy', leak, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Leak', new_leak_path %>
